/* mobile layout for default: */

nav {
  height: 120px;
  width: 100%;
  background-color:#4056A1;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.5em;
  position: fixed;
  top: 0;
}

nav span {
  font-family: 'Bungee', cursive;
}

.nav-prompt:hover {
  cursor: pointer;
}

/* desktop layout */
@media only screen and (min-width: 1024px) {
  
  nav {
    padding-left: 30%;
  }

}