form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #55514a;
  font-weight: 500;
}

label {
  margin-bottom: 10px;
}

textarea {
  border: none;
  border-bottom: 5px solid #55514a;
  padding: 10px;
  background-color: #f4f1ec;
}

#text-second-row {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  font-family: Bungee;
}

button {
  background-color: #4056A1;
  color:white;
  border-radius: 10px;
}

.below-140 {
  color: red;
}

section.new-tweet {
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  transition: 0.3s;
  background-color: #f4f1ec
}

section.new-tweet:hover {
  box-shadow: inset 0 0 0 5px #4056A1;
}

#tweet-text:focus section.new-tweet{
  box-shadow: inset 0 0 0 5px #4056A1;
}

div.validationError {
  background-color: #fce4e4;
  border: 5px solid #ff4a4d;
  padding: 20px ;
  border-radius: 20px;
}

.hideClass {
  display: none
}